<%= render 'commerces/shared/navbarcommerce' %>
<br><br>
<div class="container text-center card bg-info">
  <br>
  <h1 class="text-white">Ver sucursal</h1>
  <hr>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://dojiw2m9tvv09.cloudfront.net/4/product/sucursal9736.png" class="card-img img-thumbnail" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><b>Sucursal: <%= @office.name %> </b></h5>
          <p class="card-text"> Dirección: <%= @office.adress %> <br> Número: +562<%= @office.number %> <br> Trabajadores: <%= @office.workers.count %></p>
          <p class="card-text"><small class="text-muted">Editado hace <%= time_ago_in_words @office.updated_at %></small></p>
        </div>
      </div>
    </div>
  </div>
  <p><%= link_to 'Back', offices_path, class:'btn btn-primary float-left col-sm-4' %> <%= link_to 'Edit', edit_office_path(@office), class:'btn btn-warning float-right col-sm-4' %></p>
</div>
<br>