<%= render 'commerces/shared/navbarcommerce' %>
<br><br>
<div class="container bg-info text-center">
  <br>
  <h1 class="text-white"> Cocina y productos </h1>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card p-3">
        <br>
        <h2> Tus Productos</h2>
        <br>
        <table class="table table-striped table-bordered table-sm dtBasicExample" cellspacing="0">
          <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Sucursal</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <%= render @products %>
          </tbody>
        </table>
      </div>

      <br>

      <div class="card p-3">
        <br>
        <h2>Ventas por productos</h2>
        <hr>
        <table  class="table table-striped table-bordered table-sm dtBasicExample" cellspacing="0">
          <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad vendida</th>
          </tr>
          </thead>
          <tbody>
          <% @best_sale_products.reverse_each do |product, value| %>
            <tr>
              <td><%= product.name %></td>
              <td>$<%= product.price %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <br>
    </div>

    <div class="col-sm-6">
      <div class="card p-3">
        <br>
        <h2> Últimas órdenes</h2>
        <br>
        <table  class="table table-striped table-bordered table-sm dtBasicExample" cellspacing="0">
          <thead>
          <tr>
            <th scope="col">Trabajador</th>
            <th scope="col">Monto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
          </tr>
          </thead>
          <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td><%= order.sale.worker.name %></td>
              <td>$<%= order.amount %></td>
              <td><%= order.product.name if order.product %></td>
              <th><%= order.quantity %></th>
            </tr>
        <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <div class="card">
        <br>
        <h2> Oficinas/Órdenes </h2>
        <div class="p-4"><%= bar_chart @best_offices_orders, messages: {empty: "No hay datos"} %></div>
      </div>
      <br>
      <div class="card">
        <br>
        <h2> Productos/Ventas </h2>
        <div class="p-4"><%= bar_chart @best_sale_chart, messages: {empty: "No hay datos"} %></div>
      </div>
    </div>

  </div>
</div>