$('#kitchen_sales').html('<% @sales.order(:created_at).each do |sale| %>\n' +
    '          <div class="container" id="sale_<%= sale.id %>_container">\n' +
    '            <div class="card" style="min-height: 5vh">\n' +
    '              <small>\n' +
    '                <b>Total: </b><%= number_to_currency(sale.total, precision: 0)  %>\n' +
    '                <b id="payed_<%= sale.id %>">Pagado: <%= if sale.payed? then "Si" else "No" end %></b>\n' +
    '                <b>Productos: </b>\n' +
    '                <% sale.orders.each do |order| %>\n' +
    '                  <%= order.quantity %> <%= order.product.name %> |\n' +
    '                <% end %>\n' +
    '                <div class="card d-inline">\n' +
    '                  <b>Comentario: </b><%= sale.comment %>\n' +
    '                </div>\n' +
    '                <div id="state">\n' +
    '                  <% case sale.state;  when 1%>\n' +
    '                    <div class="alert alert-primary p-0 w-25 d-inline">\n' +
    '                      Pedido solicitado\n' +
    '                    </div>\n' +
    '                  <% when 2 %>\n' +
    '                    <div class="alert alert-success p-0 w-25 d-inline">\n' +
    '                      Pedido Preparado\n' +
    '                    </div>\n' +
    '                  <% when 3 %>\n' +
    '                    <div class="alert alert-warning p-0 w-25 d-inline">\n' +
    '                      Pedido Entregado\n' +
    '                    </div>\n' +
    '                  <% end %>\n' +
    '                </div>\n' +
    '                <%= link_to "¿Pedido listo?", ready_path(sale.id), method: :patch ,data: {remote: true}, class:"alert alert-info w-25 p-0 d-inline" %>\n' +
    '              </small>\n' +
    '            </div>\n' +
    '          </div>\n' +
    '          <div class="p-1"></div>\n' +
    '        <% end %>')