<p id="notice"><%= notice %></p>

<p>
  <strong>Office:</strong>
  <%= @worker.office %>
</p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @worker.rol %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @worker.adress %>
</p>

<p>
  <strong>Number:</strong>
  <%= @worker.number %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @worker.admin %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
