<%= form_with(model: sale) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Mesa*' %>
    <%= form.select :table_id, @tables.pluck(:description, :id), sales_table_id: :id %>
  </div>
<hr>
  <div class="actions">
    <%= form.submit 'Enviar', class:'btn btn-primary col-sm-10 mx-auto' %>
  </div>
<% end %>
<br>
