<% if current_worker %>
  <div class="container" id="sale_<%= sale.id %>_container">
    <div class="card" style="min-height: 5vh">
      <small>
        <b>Total: </b><%= number_to_currency(sale.total, precision: 0)  %>
        <b id="payed_<%= sale.id %>">Pagado: <%= if sale.payed? then 'Si' else 'No' end %></b>
        <b>Productos: </b>
        <% sale.orders.each do |order| %>
          <%= order.quantity %> <%= order.product.name %> <%= link_to 'x', delete_order_path(order.id), method: :delete, data: {remote: true}, style:'color: red'  %>  |
        <% end %>
        <div class="card d-inline">
          <b>Comentario: </b><%= sale.comment %>
        </div>
        <div id="state">
          <% case sale.state %>
          <% when 1 %>
            <div class="alert alert-primary p-0 w-25 d-inline">
              Pedido solicitado
            </div>
          <% when 2 %>
            <div class="alert alert-success p-0 w-25 d-inline">
              Pedido listo
            </div>
          <% when 3 %>
            <div class="alert alert-warning p-0 w-25 d-inline">
              Pedido Entregado
            </div>
          <% end %>
        </div>
        <%= link_to 'Ver venta', sale,data: {remote: true}, class:'alert alert-success w-25 p-0 d-inline'  %>
        <%= link_to 'Eliminar Venta', sale, method: :delete, data: {confirm: 'Se eliminará esta venta', remote: true}, class:'alert alert-danger w-25 p-0 d-inline' %>
        <%= link_to '¿Pagado?', payed_path(sale.id),method: :patch ,data: {remote: true}, class:'alert alert-info w-25 p-0 d-inline', id:'payed' %>
        <% if sale.state == 2 %>
          <%= link_to '¿Entregado?', given_path(sale.id),method: :patch,data: {remote: true}, class:'alert alert-info w-25 p-0 d-inline', id:'given' %>
        <% elsif sale.state == 3 %>
          <%= link_to 'Finalizar', done_path(sale.id),method: :patch ,data: {confirm: 'La venta desaparecerá después de esta acción',remote: true}, class:'alert alert-info w-25 p-0 d-inline', id:'payed' %>
        <% end %>
      </small>
    </div>
  </div>
  <div class="p-1"></div>
<% else %>
  <div class="container" style="min-width: 107px">
    <div class="card">
      <b>Sucursal: <%= sale.office.name if sale.office %></b>
      <small>
        <b>Trabajador: </b><%= sale.worker.name %>
        <b>Total: </b><%= number_to_currency(sale.total, precision: 0)  %>
        <b>Productos: </b>
        <% sale.orders.each do |order| %>
          <%= order.quantity %> <%= order.product.name %>  |
        <% end %>
      </small>
    </div>
  </div>
<% end %>