<p id="notice"><%= notice %></p>

<p>
  <strong>Worker:</strong>
  <%= @sale.worker %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Payed:</strong>
  <%= @sale.payed %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @sale.comment %>
</p>

<p>
  <strong>Table:</strong>
  <%= @sale.table %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
